html, body {
    height: 100%;
    margin: 0;
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
  }

.header {
    background-color: rgb(24,24,24);
    padding: 20px;
    border-bottom: 10px solid lightskyblue;
    color:darkcyan;
    font-size: 1.5em;
    text-align: center;
    font-family: monospace;
    height: 150px;
    top: 0%;
}

.header button {
    float: right;
}

body{
    background-color:rgb(70, 221, 70);   
    min-height: 100%;
}

body .resetButton {
    background-color: palevioletred;
    color:pink;
    border-radius: 50%;
    border: none;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: none;   
}

footer{
    background-color: rgb(24,24,24);
    color:lightskyblue;
    font-size: 16px;
    text-align: center;
    font-family: monospace;
    line-height: 50px;
}

.footer a {
    color:lightskyblue;
    text-decoration: none;
}
h1 {
    float: left;
    padding-left: 120px;
    font-family: 'McLaren';
    font-size: 18px;
    color: whitesmoke;
}

td {
    padding-right:20px;
}

.card {
    background-color:cyan;
    height: 165px;
    width: 165px;    
    float: left;
    margin: 14px;

}

.card img {
    position: absolute;
    border: 1px solid black;
}

.flipped .back {
    display: none;
}


button {
    background-color: rgb(70, 221, 70);
    border-radius: 50%;
    height: 100px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
   
}

.logo {
    display: block;
    height: 90px;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
}

h4.bestTime {
    display: none;
    text-align: left;
}

h4.bestTime .display {
    display: inline;
}

h4.player {
    display: none;
    text-align: left;
    color: green;
}


h4.player .display {
    display: inline;
}

h4.bestPlayer {
    display: none;
    text-align: left;
}

.menu{

    margin: 0;
    width:100%;
    height:100%;
}

div.board{
    width: 772px;
    height: 772px;
    margin: 20px auto;
    display: none;
}

.gif{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 358px;
    margin-top: -179px;
    margin-left: -320px;
    border-radius: 10%;
    display: none;
}

.start{
    position: absolute; 
    left: 47% ; top: 47%;
    background-color: palevioletred;
    color:pink;
    border-radius: 50%;
    height: 170px;
}

